# Git
.git
.gitignore

# Environment files
.env
.env.*
frontend/.env
backend/.env

# Dependencies
node_modules
frontend/node_modules

# Build artifacts
dist
frontend/dist

# Logs
*.log

# OS files
.DS_Store

# IDE files
.vscode
.idea

# Documentation
README.md
*.md

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Railway
railway.toml
